@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-tropiline: "Tropiline", sans-serif;
  --font-exodus:"EudoxusSans",sans-serif;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-clash: var(--font-tropiline);
  --font-exodus:var(--font-exodus)
  --color-primary: red;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-exodus);
  scroll-behavior: smooth;
}
